{extend name='public/base'} 
{block name='content'}
<style>
    .grid-demo {
        margin: 10px;
        background-color: #009688;
        min-height: 740px;
        color: #ffffff;
    }
    .left-one{
        padding: 10px;
    }
    .left-tow{
        line-height: 22px;
        padding: 5px 12px 5px 12px;
        
    }
    .right{
        padding: 10px;
        margin-top: 10px;
        background-color: #ffffff;
        min-height: 740px;
    }
    .la_name{
        font-size: 24px;
        text-align: center;
        width: 100%
    }
    .layui-tab-brief>.layui-tab-title .layui-this {
        color: #3ad8c9;
    }
    .layui-tab-title {
        height: 60px;
    }
    .layui-tab-title li {
        line-height: 60px;
    }
    .layui-tab-title .layui-this:after {
        height: 59px;
    }
    .layui-tab-brief>.layui-tab-more li.layui-this:after, .layui-tab-brief>.layui-tab-title .layui-this:after {
        border-bottom: 5px solid #5FB878;
    }
</style>

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        {$item['item1']}
        <small>{$item['item2']}</small>
    </h1>
    <ol class="breadcrumb">
        <li>
            <a href="#">
                <i class="fa fa-dashboard"></i> {$item['item1']}</a>
        </li>
        <li class="active">{$item['item2']}</li>
    </ol>
</section>

<!-- Main content -->
<div class="layui-row layui-col-space5">
    <div class="layui-col-md12">
      <div class="layui-row">
        <div class="layui-col-md2">
          <div class="grid-demo ">
            <div class="left-one">
                <image style="width: 100%;height: auto;" src="/static/AdminLTE/dist/img/avatar5.png"></image>
            </div>
            <div class="left-one">
                <label class="la_name">{$patientData.name}</label>
                <button class="layui-btn layui-btn-sm " style="margin: auto;width: 100%;background: #017369">历史病例</button>
            </div>
            <div class="left-tow">电话：{$patientData.phone}</div>
            <div class="left-tow">性别：
                {switch name="$patientData.sex"}
                    {case value="1"}男{/case}
                    {case value="2"}女{/case}
                    {default /}不详
                {/switch}
            </div>
            <div class="left-tow">年龄：{$patientData.age}</div>
            <div class="left-tow">身高：{$patientData.height}</div>
            <div class="left-tow">体重：{$patientData.weight}</div>
            <div class="left-tow">血型：{$patientData.blood}</div>
            <div class="left-tow">出生年月：{$patientData.birth}</div>
            <div class="left-tow">身份证：{$patientData.idcard}</div>
            <div class="left-tow">住址：{$patientData.address}</div>
            <div class="left-tow">微信：{$patientData.wechat}</div>
            <div class="left-tow">邮箱：{$patientData.email}</div>
          </div>
        </div>
        <div class="layui-col-md10">
          <!-- <div class="right">
            <ul class="layui-nav layui-bg-green">
                <li class="layui-nav-item layui-this"><a href="">诊断病例</a></li>
                <li class="layui-nav-item"><a href="">开具处方</a></li>
                <li class="layui-nav-item"><a href="">检查治疗</a></li>
                <li class="layui-nav-item"><a href="">其他收费</a></li>
                <li class="layui-nav-item"><a href="">报告</a></li>
              </ul>
          </div> -->
            <div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief" style="width: 98%">
                <ul class="layui-tab-title  layui-bg-green">
                  <li class="layui-this">网站设置</li>
                  <li>用户管理</li>
                  <li>权限分配</li>
                  <li>商品管理</li>
                  <li>订单管理</li>
                </ul>
                <div class="layui-tab-content" style="min-height: 680px;background: #ffffff">
                  <div class="layui-tab-item layui-show">内容不一样是要有，因为你可以监听tab事件（阅读下文档就是了）</div>
                  <div class="layui-tab-item">内容2</div>
                  <div class="layui-tab-item">内容3</div>
                  <div class="layui-tab-item">内容4</div>
                  <div class="layui-tab-item">内容5</div>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
<!-- /.content -->


{/block} {block name='script'}
<script>
    //增加数据
    $(function () {
        //表格功能
        $('#example1').DataTable({
            'paging': true,
            'lengthChange': true,
            'searching': true,
            'ordering': false,
            'info': true,
            'autoWidth': true
        });


        //JQuery里面的方法,ajaxSubmit来提交表单
        var options = {
            type: 'post', //post提交
            //url:'http://ask.tongzhuo100.com/server/****.php?='+Math.random(),   //url
            dataType: "json", //json格式
            data: {}, //如果需要提交附加参数，视情况添加
            clearForm: false, //成功提交后，清除所有表单元素的值
            resetForm: false, //成功提交后，重置所有表单元素的值
            cache: false,
            async: false, //同步返回
            success: function (data) {
                if (data.code == 0) {
                    layer.msg(data.msg, {
                        icon: 2,
                        offset: 'm',
                        time: 1000
                    });
                } else {
                    layer.msg(data.msg, {
                        icon: 1,
                        offset: 'm',
                        time: 1500
                    }, function () {
                        location.reload();
                    });
                }
                //服务器端返回处理逻辑
            },
            error: function (XmlHttpRequest, textStatus, errorThrown) {
                layer.msg('操作失败:服务器处理失败');
            }
        };

        layui.use('form', function(){
            var form = layui.form;
            $('#mainForm').ajaxForm(options).submit(function(data){});
        });

    })
    //新增用户的模态框数据清除
    $("#addModal,#editModal").on('hide.bs.modal', function () {
        $('#addReset').click();
    });
    //加载缓冲动画
    $("#addModal,#editModal").on('show.bs.modal', function () {
        layer.closeAll();
    });


    //删除用户
    function delete_register(id) {
        layer.confirm('确定删除吗？', function (index) {
            $.ajax({
                    url: '{:url("merchant/Register/delete_register")}',
                    type: 'get',
                    dataType: 'json',
                    data: {
                        id: id
                    },
                })
                .done(function (data) {
                    //回调提示
                    if (data.code == 0) {
                        layer.msg(data.msg, {
                            icon: 2,
                            time: 1000
                        });
                    } else {
                        layer.msg(data.msg, {
                            icon: 1,
                            time: 1500
                        }, function () {
                            location.reload();
                        });
                    }
                })
        })
    }
</script>
{/block}